section {
    margin: 10rem 0;
}

/*section1_main*/

.main_title {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("mainimage.jpg");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: grayscale(10%);
    position: relative;
}

.main_title h1 {
    position: absolute;
    left: 7%
}

.main_title1 {
    bottom: 54%;
}

.main_title2 {
    bottom: 44%;
}

.main_title3 {
    bottom: 34%;
}

.main_title-main {
    color: rgb(225, 225, 225);
    font-weight: 600;
    font-size: 3rem;
    padding-bottom: 0.25rem;
}

.main_title-sub {
    color: rgb(60, 60, 60);
    font-weight: 500;
}

/*section2_notice*/

.notice_title,
.association_title,
.more {
    text-align: center;
}

.more {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.more a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 0;
    border-bottom: solid 1px rgb(0, 0, 65);
}

.notice {
    margin-top: 8rem;
}

.notice_title {
    font-size: 2.5rem;
}

.notice_zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notice_zone div {
    text-align: center;
}

.arrow {
    width: 40%;
    cursor: pointer;
}

.notice_image_container {
    width: 120rem;
}

.notice_image {
    width: 100%;
}

/*section3_Year of Association*/

.association_title {
    font-size: 1.8rem;
    font-weight: 500;
}

#association_image {
    width: 100%;
}

/*secion4_Overall Association Slogan*/

.association_slogan {
    display: flex;
    flex-wrap: wrap;
}

.association_slogan_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 2.5rem;
}

.association_slogan_container2 {
    align-items: flex-end;
}

.association_slogan_container2 .association_slogan_spec {
    text-align: right;
}

.association_slogan_title {
    margin: 0;
    font-size: 3.6rem;
}

.association_slogan_sub {
    margin: 1rem 0;
    color: grey;
    font-size: 1.8rem;
    font-weight: 500;
}

.association_slogan_spec {
    margin: 2rem 0;
    color:rgb(60, 60, 60);
    font-size: 1.6rem;
    font-weight: 500;
}

#slogan_image {
    width: 100%;
    margin: 8rem 0;
}

/*section5_Overall Association Activity*/

.activity {
    background-color: rgb(233, 245, 255);
}

.activity_image_container {
    width: 100%;
}
.activity_image_container img {
    width: 100%;
}

.activity_info {
    margin: 8rem 4rem;
    text-align: center;
}

.activity h1 {
    font-size: 2.6rem;
}

.activity h2 {
    font-size: 1.8rem;
    font-weight: 500;
    color:rgb(60, 60, 60);
}

.activity_info_sub span{
    font-size: 1.5rem;
    padding: 0 0.3rem;
    color:rgb(13, 55, 170);
}

.activity .more {
    margin: 0;
    padding-bottom: 8rem;
}

/*section6_contact*/

.contact h1 {
    padding-left: 2.5rem;
    font-size: 3rem;
    margin: 3rem 0;
}

.contact h2 {
    padding-left: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color:grey;
}

.contact_icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.contact_icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    color: black;
    text-decoration: none;
}

.contact_icon svg {
    height: 4rem;
    width: 4rem;
}

.contact_icon_name {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.kt svg {
    fill: rgb(65, 34, 34);
}

.ig svg {
    fill: rgb(137, 87, 150);
}

.fb svg {
    fill: rgb(10, 58, 189);
}
