/*sections_shared*/
section {
    margin: 10rem 0;
}

.notice_title,
.association_title,
.more {
    text-align: center;
}

.more {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.more a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 0;
    border-bottom: solid 1px rgb(0, 0, 65);
}

/*section1_main*/

.main_title {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("mainimage.jpg");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: grayscale(10%);
    position: relative;
}

.main_title h1 {
    position: absolute;
    left: 7%
}

.main_title1 {
    bottom: 54%;
}

.main_title2 {
    bottom: 44%;
}

.main_title3 {
    bottom: 34%;
}

.main_title-main {
    color: rgb(225, 225, 225);
    font-weight: 600;
    font-size: 3rem;
    padding-bottom: 0.25rem;
}

.main_title-sub {
    color: rgb(60, 60, 60);
    font-weight: 500;
}

/*section2_notice*/

.notice {
    margin-top: 8rem;
}

.notice_title {
    font-size: 2.5rem;
}

.notice_zone h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 2rem 0;
}

.notice_image_container {
    width: 100%;
    text-align: center;
}

.notice_image img {
    width: 80%;
}

.notice_image:hover,
.notice_image:active {
    animation: up 400ms forwards;
}

.notice_image_sub {
    display: none;
}

/*section3_Year of Association*/

.association_title {
    font-size: 1.8rem;
    font-weight: 500;
}

.association_image_container img {
    width: 100%;
}

.association_info {
    display: none;
}

/*secion4_Overall Association Slogan*/

.association_slogan {
    display: flex;
    flex-wrap: wrap;  
}

.association_slogan_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 2.5rem;
}

.association_slogan_container1 {
    padding-right: 15%;
}

.association_slogan_container2 {
    align-items: flex-end;
    padding-left: 15%;
}

.association_slogan_container2 .association_slogan_spec {
    text-align: right;
}

.association_slogan_title {
    margin: 0;
    font-size: 3.6rem;
}

.association_slogan_sub {
    margin: 1rem 0;
    color: grey;
    font-size: 1.8rem;
    font-weight: 500;
}

.association_slogan_spec {
    margin: 2rem 0;
    color:rgb(60, 60, 60);
    font-size: 1.6rem;
    font-weight: 500;
}

.slogan_image {
    width: 100%;
    margin: 8rem 0;
}

/*section5_Overall Association Activity*/

.activity {
    background-color: rgba(160, 235, 255, 0.15);
}

.activity_image_container {
    width: 100%;
}
.activity_image_container img {
    width: 100%;
}

.activity_info {
    margin: 8rem 4rem;
    text-align: center;
}

.activity h1 {
    font-size: 2.6rem;
}

.activity h2 {
    font-size: 1.8rem;
    font-weight: 500;
    color:rgb(60, 60, 60);
}

.activity_info_sub span{
    font-size: 1.5rem;
    padding: 0 0.3rem;
    color:rgb(13, 55, 170);
}

.activity .more {
    margin: 0;
    padding-bottom: 8rem;
}

/*section6_contact*/

.contact h1 {
    padding-left: 2.5rem;
    font-size: 3rem;
    margin: 3rem 0;
}

.contact h2 {
    padding-left: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color:grey;
}

.contact_icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.contact_icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    color: black;
    text-decoration: none;
}

.contact_icon svg {
    height: 4rem;
    width: 4rem;
}

.contact_icon_name {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.kt svg {
    fill: rgb(65, 34, 34);
}

.ig svg {
    fill: rgb(137, 87, 150);
}

.fb svg {
    fill: rgb(10, 58, 189);
}

@media (min-width: 640px) {
    section {
        margin: 15rem 0;
    }

    .main_title-main {
        font-size: 3.4rem;
    }

    .main_title-sub {
        font-size: 1.8rem;
    }

    .notice {
        margin-top: 10rem;
    }

    .notice_title {
        margin: 7rem 0;
    }

    .notice_image_sub {
        display: block;
    }

    .notice_image_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .notice_image img {
        width: 40rem;
        height: 30rem;
        padding: 0.2rem;
    }
    
    .notice_info {
        margin: 4rem 0;
    }

    .association_image_info {
        padding: 0 3%;
    }

    .association_image_container {
        text-align: center;
    }

    .association_image_container img {
        width: 75%;
    }

    .year_of_association .more {
        margin-top: 4%;
    }

    .association_slogan {
        padding: 0 3%;
    }

    .association_slogan_container {
        padding: 0;
    }

    .association_slogan_container1 {
        padding-right: 20%;
    }

    .association_slogan_container2 {
        padding-left: 20%;
    }

    .slogan_image_container {
        width: 80%;
        text-align: right;
    }

    .slogan_image {
        margin: 6rem 0;
    }

    .activity_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10rem 0;
    }

    .activity_image_container {
        width: 65%;
        text-align: center;
    }

    .activity_image_container img {
        width: 90%;
    }

    .activity_info {
        width: 35%;
        margin: 0 3rem;
    }

    .activity2 {
        flex-direction: row-reverse;
    }

    .activity .more {
        padding-bottom: 15rem;
    }
    
    .contact h1 {
        padding-left: 3%;
    }

    .contact h2 {
        display: inline-block;
        padding: 0;
        padding-right: 1rem;
    }

    .contact_title_sub {
        padding-left: 3%;
    }
}

@media (min-width: 1000px) {
    .association_title {
        display: none;
    }

    .association_image_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .association_image_container {
        width: 60%;
    }

    .association_image_container img {
        width: 90%;
    }

    .association_info {
        display: block;
        color: black;
        text-align: left;
        width: 40%;
    }

    .association_info_ppl {
        margin-top: 5rem;
    }

    .association_info h1 {
        font-size: 2.6rem;
        font-weight: 500;
        color:rgb(170, 170, 170);
        margin: 0;
    }

    .association_info h2 {
        font-size: 2rem;
        font-weight: 500;
        margin: 1rem 0;
    }

    .association_info h3 {
        font-size: 1.6rem;
        font-weight: 500;
        border-bottom: solid 1px grey;
        padding-bottom: 1.5rem;
        width: 18rem;
        margin: 1.5rem 0;
    }

    .association_slogan {
        padding: 0 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .association_slogan_container {
        width: 45%;
    }

    .slogan_image_container {
        width: 55%;
    }

    .slogan_image {
        margin: 0;
        margin-top: 10rem;
    }

    .association_slogan_container1 {
        width: 75%
    }

    .association_slogan_container2 {
        padding-left: 6%;
    }
}

@media (max-height: 450px) {
    .main_title1 {
        bottom: 52%;
    }
    
    .main_title2 {
        bottom: 32%;
    }
    
    .main_title3 {
        bottom: 12%;
    }

    .main_title-main {
        font-size: 2.6rem;
    }

    .main_title-sub {
        color: rgb(201, 201, 201);
    }
}

@keyframes up {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-2rem)
    }
    100% {
        transform: translateY(-1rem)
    }
}