@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {box-sizing: border-box;}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

main {
    padding-bottom: 5.5rem;
}

header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    z-index: 100;
}

.main_logo a {
    height: 3rem;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

#header_logo {
    height: 3rem;
}

#header_logo_title {
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 0 0.8rem;
}

.main_menu {
    display: flex;
    align-items: center;
}

#login_icon svg {
    width: 4rem;
    padding: 0 0.8rem;
}

.burgerbar {
    padding: 0;
    height: 3rem;
    width: 2.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.burgerbar:focus {
    outline: none;
}

.burgerbar span {
    height: 0.125rem;
    width: 85%;
    background-color: black;
    display: block;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
}

.fixed_footer {
    position: fixed;
    bottom: 0; 
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 110, 212);
    z-index: 100;
}

.fixed_footer a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

footer {
    filter: grayscale(50%);
}

.main_footer {
    padding-bottom: 5.5rem;
    padding-top: 5.5rem;
    background-color:rgb(0, 71, 204);
    color: white;
}

.footer_policy {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    padding-left: 2rem;
}

.footer_policy div {
    width: 70%;
    text-align: center;
    color: rgb(200, 200, 200);
}

.footer_logo_container {
    padding: 1.5rem 3rem;
}

.footer_logo {
    width: 45%;
    background-color: white;
    text-align: center;
}

.footer_logo img {
    width: 80%;
    padding: 1.5rem 0;
    padding-right: 1rem;
}

.footer_title {
    padding-left: 2rem;
}

.footer_title h1 {
    margin: 0;
    font-size: 2.2rem;
}

.footer_title h2 {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(200, 200, 200);
}

.footer2 {
    text-align: right;
    padding-right: 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.footer2 h1 {
    margin: 1.5rem 0;
    font-size: 2rem;
}

.footer_icons {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-left: 65%;
}

.footer_icons svg {
    fill: white;
}

.footer2 h2 {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 6rem;
}

.footer2 h3 {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(200, 200, 200);
}